* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    padding-top: 50px;
}

/* header */

.logo {
    height: 175px;
    width: 125px;
    margin: 15px;
}

.hero {
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 100px;
    padding-top: 100px;;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
}

/* main */

section {
    background-color: white;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 30px;
    margin: 0;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: white;
}

.subtext {
    font-size: 15px;
    font-weight: 50;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
    text-align: center;
}

.hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 80px;

}

.sub-section-deux {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#pro1  {
    padding-bottom: 200px;
}

#pro2  {
    padding-bottom: 200px;
}

#pro3  {
    padding-bottom: 200px;
}

#pro4  {
    padding-bottom: 200px;
}

#pro5  {
    padding-top: 200px;
}


.headshot {
    width: 250px;
    border-radius: 150px;
    margin-top: 50px;
}

.project-image {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    margin-top: 30px;
    
}

.project-image:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3 {
    padding-top: 20px;
}

/* footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

#email-link {
    padding-bottom: 50px;
}

#linkedIn-link {
    padding-bottom: 50px;
}

/* media queries */

@media only screen and (min-width: 768px) {
    .project-container {
        display: flex;
        flex: wrap;
    }
}

@media screen and (max-width: 768px) {
    ul { 
        display: flex;
        flex-direction: column;
        
    }
}

