* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family:cursive;
}

section {
    background-color: white;
}

.hero {
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 175px;
    width: 125px;
    margin: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    padding-right: 100px;
    padding-top: 100px;;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 30px;
    margin: 0;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: white;
}

.subtext {
    font-size: 15px;
    font-weight: 50;
}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
    text-align: center;
}

.hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 80px;

}

.sub-section-deux {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.headshot {
    width: 250px;
    border-radius: 150px;
    margin-top: 50px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.project-image {
    width: 300px;
    border-radius: 175px;
    margin-top: 30px;
    
}

.project-image:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

@media only screen and (min-width: 768px) {
    .project-container {
        display: flex;
        flex: wrap;
    }
}

@media screen and (max-width: 768px) {
    ul { 
        display: flex;
        flex-direction: column;
        
    }

    .footer-email {
        font-size: 15px;
    }
}

